{% extends "layouts/default.njk" %}

{% block head_css %}
  <link rel="stylesheet" media="screen" href="{{ dirPath }}/assets/css/presentation.css" />
{% endblock head_css %}

{% block header %}{% endblock header %}
