{% set dirPath = env.dirPathDev if ( env.environment == 'dev' ) else env.dirPath %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if not home %}{{ title }} | {% endif %}{{ site.site }}</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">

<link rel="stylesheet" media="screen" href="{{ dirPath }}/assets/css/cctp642.css" />
